---
/**
 * * Contact section for the website
 */

import ContactForm from "@components/Forms/ContactForm.astro";
import { Image } from "astro:assets";

interface Props {
	class?: string;
}

const { class: className } = Astro.props as Props;

import wzpImage from "@assets/images/whatsapp.png";
---

<section
	id="contact"
	class="mx-auto max-w-md scroll-mt-10 px-4 py-8 md:max-w-6xl md:py-12"
	class:list={[className]}
>
	<h2 class="h2 md:px-12 lg:text-6xl">!Hablemos!</h2>
	<div class="grid gap-y-10 md:grid-cols-2">
		<div class="border-primary-300 pt-8 md:border-r md:pr-20 md:pl-12">
			<p class="description mb-5 text-lg">
				Podés completar el formulario y tocar el botón 'consultar' para consultar la disponibilidad
				en la fecha que requieras
			</p>
			<p class="description text-lg">
				Atendemos consultas personalizadas a través de nuestro whatsapp, podés escribirnos y
				responderemos todas tus dudas y consultas.
			</p>
			<div class="mx-auto mt-8 flex aspect-square justify-center overflow-hidden">
				<a
					target="_blank"
					href="https://wa.me/+542901449739?text=Hola,%20estoy%20buscando%20alojamiento%20en%20Ituzaingó"
				>
					<Image src={wzpImage} alt="whatsapp logo" />
				</a>
			</div>
		</div>
		<div class="md:pr-12 md:pl-20">
			<ContactForm />
		</div>
	</div>
</section>
