---
import logo from "@icons/logo-transparent.png";
import { Image } from "astro:assets";
---

<a class="primary-focus flex items-center align-middle" href="/" aria-label="Home">
	<Image
		src={logo}
		alt="Conectar Naturaleza logo"
		loading="eager"
		width={140}
		height={100}
		class="h-24 w-auto"
	/>
</a>
