---
import SiteLogo from "@components/SiteLogo/SiteLogo.astro";
import siteData from "@config/siteData.json";
import { Icon } from "astro-icon/components";

import Button from "@components/Button/Button.astro";
import navData from "@config/navData.json";
import FooterLink from "./FooterLink.astro";

const today = new Date();
---

<footer class="bg-base-100/40 mt-12 flex flex-col items-center justify-center py-8">
	<div class="site-container">
		<!-- footer links -->
		<div
			class="flex w-full flex-col items-center justify-between gap-2 text-lg md:grid md:grid-cols-5"
		>
			{
				// if dropdown exists, setup the dropdown, otherwise it is just a link
				navData.map((navItem, i) =>
					i % 2 === 0 && i !== 0 ? (
						<>
							<div class="flex justify-center py-2 text-center">
								<SiteLogo />
							</div>
							<FooterLink href="/">{navItem.text}</FooterLink>
						</>
					) : (
						<FooterLink href="/">{navItem.text}</FooterLink>
					),
				)
			}

			<Button
				variant="secondary"
				class="nav__cta border-primary-200 my-auto hidden py-1 md:block"
				href="/#contact"
				data-scrolled="false"
			>
				Consultar disponibilidad
			</Button>
		</div>

		<!-- socials -->
		<div class="text-primary-500 mt-8 flex justify-center gap-4">
			<a
				href="https://www.booking.com/hotel/ar/cabana-conectar-naturaleza.es-ar.html"
				target="_blank"
				rel="noopener noreferrer"
			>
				<Icon name="socials/mdi-booking" class="size-6 transition hover:opacity-80" />
				<span class="sr-only">Booking</span>
			</a>
			<a
				href="https://www.airbnb.com.ar/rooms/1373439887419185949"
				target="_blank"
				rel="noopener noreferrer"
			>
				<Icon name="socials/mdi-airbnb" class="size-6 transition hover:opacity-80" />
				<span class="sr-only">AirBnb</span>
			</a>
		</div>
	</div>
</footer>
